* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(12, 176, 144, 0.6);
}

h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 22pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

h2 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2c3e50;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22pt;
}

.container {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 630px;
    background: white;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-shadow: 0px 1px 5px 2px rgba(44, 62, 80, 0.4);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.form-group-name,
.form-group-email,
.form-group-password,
.form-group-rpass {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border: 1px solid #0cb090;
}

.cmp {
    width: 50%;
}

.form-group-rpass {
    top: 50%;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: .25rem;
    border: 1px solid #0cb090;
    outline: none;
}

.form-group-password {
    top: 42%;
}


/*
button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50px;
    color: #fff;
    background: rgba(12, 176, 144, 0.6);
    border-radius: 25px;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 13pt;
    outline: none;
}

button:hover {
    
    background: linear-gradient(to bottom, #20a48a, #5ff1d8);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    outline: none;
}

.register {
    position: absolute;
    top: 82%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10.5pt;
    color: #34495e;
}

a {
    text-decoration: none;
}

#register {
    color: #2c3e50;
    font-weight: 550;
}*/